.ColumnHeader {
	font-family: Segoe UI;
	font-size: 10px;
}

.Default {
	font-family: Segoe UI;
	font-size: 12px;
}

.Fnd_IO_LargeControl {
	font-family: Segoe UI;
	font-size: 12px;
}

.Fnd_LargeControl {
	font-family: Segoe UI;
	font-size: 12px;
}

.Fnd_Tlbr_InfoLabel {
	font-family: Segoe UI;
	font-size: 12px;
}

.Invoice_Field {
	font-family: Segoe UI;
	font-size: 12px;
}

.Invoice_Header {
	font-family: Segoe UI;
	font-size: 12px;
}

.Invoice_Label {
	font-family: Segoe UI;
	font-size: 12px;
}

.Invoice_LargeText {
	font-family: Segoe UI;
	font-size: 12px;
}

.Invoice_SmallLabel {
	font-family: Segoe UI;
	font-size: 12px;
}

.LargeControl {
	font-family: Segoe UI;
	font-size: 12px;
}

.LargeField {
	font-family: Segoe UI;
	font-size: 12px;
}

.LargeLabel {
	font-family: Segoe UI;
	font-size: 12px;
}

.ListItem {
	font-family: Segoe UI;
	font-size: 12px;
}

.ReportData {
	font-family: Segoe UI;
	font-size: 12px;
}

.ReportHeader12 {
	font-family: Segoe UI;
	font-size: 12px;
}

.SmallControl {
	font-family: Segoe UI;
	font-size: 10px;
}

.SmallLabel {
	font-family: Segoe UI;
	font-size: 10px;
}

